/** Add css rules here for your application. */

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    margin: 40px 0px 70px;
    text-align: center;
}

.mainContainer {
    margin: 100px;
}

/** grid styles*/
.dataGridHeader {
    color: red;
}